
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 16px;
  height: 7.1875em;
}

.header__contenedor {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}

.logo__buscador {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 2em;
}

.logo__buscador .logo{
  border: none;
}

.logo__buscador .logo img {
  width: 11em;
  height: 3.125em;
  
}

.logo__buscador .buscador {
  width: 100%;
  position: relative;
}



.buscador input {
  width: 100%;
  padding: .5em 1em;
  background: #f5f5f5;
  border-radius: 1.25em;
  border: transparent;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
}

.buscador button{
  position: absolute;
  top: 20%;
  right:-5%;
  border: none;
  background: transparent;
  cursor: pointer;
}



.header__contenedor  a {
  width: 11.375em;
  padding: 1em;
  border: 0.0625em solid #2a7ae4;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  color: #2a7ae4;
  border-radius: 0.625em;

  cursor: pointer;
  text-align: center;
}



@media screen and (max-width: 768px) {


  .header{
    font-size: 10px;
  }

  .header__contenedor {
    width: 90%;
  }


  
}

@media screen and (max-width:500px) {
  
  .buscador {
    display: none;
  }
}

