.seccion__productos {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
}

.seccion__productos__contenedor {
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.producto__renglon {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.titulo__verTodo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.titulo__verTodo h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.375rem;
  color: #464646;
}

.titulo__verTodo div {
  gap: 0.5rem;
  color: #2a7ae4;

  cursor: pointer;
}

.titulo__verTodo button {
  background: transparent;
  border: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2.375rem;
  color: #2a7ae4;
  cursor: pointer;
}

.productos {
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.producto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.producto__imagen{
  width: 176px;
  height: 176px;
}

.producto__imagen img{
  width: 100%;
  height: 100%;
}


.producto__informacion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.producto__informacion p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #464646;
}

.producto__informacion span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #464646;
}

.producto__informacion a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-decoration: none;
  color: #2a7ae4;
}

@media screen and (max-width: 1360px) {
}

@media screen and (max-width: 768px) {
  .seccion__productos__contenedor {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .productos {
    justify-content: center;
  }
}
