.seccion__banner {
  width: 100%;
  height: 352px;
  background-image: url(../../assets/images/banner-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 16px;
}

.banner__informacion {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1em;
  margin-bottom: 2em;
}

.banner__informacion h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 3.25em;
  color: #ffffff;
}

.banner__informacion h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.625em;
  color: #ffffff;
}

.banner__informacion button {
  padding: 1em;
  gap: 0.625em;
  background: #2a7ae4;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.1875em;
  border: transparent;
  color: #ffffff;
  border-radius: 0.625em;
}




@media screen and (max-width:768px) {
  
  
  .banner__informacion {
    width: 90%;
  }

  .banner__informacion button {
    padding: 0.75em 1em;
  }

}


@media screen and (max-width:360px) {
  
  
.seccion__banner {
  height: 192px;
  font-size: 7px;
}

.banner__informacion h3{
  font-size: 0.75rem;
}


}