.PiedePagina {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.PiedePagina__primeraSeccion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  background: #eaf2fd;
}

.PiedePagina__primeraSeccion__contenedor {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}


.PiedePagina__logo__navegador{
 width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  
}

.PiedePagina__navegacion{
  width: 50%;
  display: flex;
  justify-content:center;
}

.PiedePagina__navegacion nav ul {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding-top:.5rem ;
}

.PiedePagina__navegacion nav ul li {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #464646;
}

.PiedePagina__formulario {
  width: 50%;
}

.PiedePagina__formulario form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.PiedePagina__formulario form p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #464646;
}









.formulario__form__contenedor  input {
  width: 100%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  border: 3px solid transparent;
  border-radius: 3px;
  padding: 16px;
  color: #a2a2a2;
  transition: .3s ease all;
  margin-bottom: 4px;
}

.formulario__form__contenedor input:focus{
  border: 3px solid #2a7ae4;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__form__contenedor  textarea {
  width: 100%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  border: 3px solid transparent;
  border-radius: 3px;
  padding: 16px;
  color: #a2a2a2;
  transition: .3s ease all;
  height: 82px;
}

.formulario__form__contenedor textarea:focus{
  border: 3px solid #2a7ae4;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}









.input-message-error{
  font-size: 12px;
	margin-bottom: 0;
	display: none;
}



.formulario__form__contenedor-incorrecto  input {
	border: 3px solid #bb2929;
}

.formulario__form__contenedor-incorrecto  textarea {
	border: 3px solid #bb2929;
}

.formulario__form__contenedor-incorrecto .input-message-error{
  display: initial;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  color: #bb2929;
}




























.PiedePagina__formulario form .formulario__boton button {
  padding: 1rem;
  background: #2a7ae4;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1875rem;
  border: transparent;
  color: #ffffff;
  cursor: pointer;
}






.PiedePagina__segundaSeccion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.PiedePagina__segundaSeccion p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #464646;
}




@media screen and (max-width:1200px) {

  .PiedePagina__primeraSeccion{
    padding: 2rem 0;
  }

  .PiedePagina__logo__navegador{
    flex-direction: column;
    align-items: center;
  }
  .PiedePagina__navegacion{
    width: 100%;
  }
}




@media screen and (max-width:768px) {
  
  .PiedePagina__primeraSeccion__contenedor{
    width: 90%;
  }

  .PiedePagina__logo__navegador{
    flex-direction: column;
  }

  

}


@media screen and (max-width:600px) {

  .PiedePagina__primeraSeccion__contenedor{
    
    flex-direction: column;
    align-content: center;
    gap: 2em;
  }

  .PiedePagina__logo__navegador{
    width: 100%;
  }

  .PiedePagina__formulario{
    width: 100%;
  }
}